DATABASE_URL="postgresql://user:password@localhost:5432/craftguard?schema=public"
PORT=4000
JWT_SECRET="craftguard-super-secret-key-change-in-production-2024"
NODE_ENV=development
CLIENT_ORIGIN="http://localhost:5173"